/* 公共样式 - 容器 */
.root{
  position: relative;
  overflow: hidden;
}
.wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* 公共样式 - 文字 */
.title_l {
  width: 100%;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  line-height: 2.2;
}

.title {
  width: 100%;
  font-size: 25px;
  text-align: left;
  font-weight: bold;
  line-height: 2;
}

.title_s {
  width: 100%;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  line-height: 1.7;
}

.desc {
  color: #909399;
  font-size: 14px;
  line-height: 1.5;
}

/* 公共样式 - 内容 */
.flex {
  display: flex;
}

.flex-rev {
  display: flex;
  flex-direction: row-reverse;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-rev {
  display: flex;
  flex-direction: column-reverse;
}

.flex-alc {
  display: flex;
  align-items: center;
}

.flex-juc {
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-gap {
  gap: 15px;
}

.m_t {
  margin-top: 15px !important;
}

.m_b {
  margin-bottom: 15px !important;
}

.m_l {
  margin-left: 15px !important;
}

.m_r {
  margin-right: 15px !important;
}

.tal {
  text-align: left !important;
}

.tac {
  text-align: center !important;
}

.tar {
  text-align: right !important;
}

.divider {
  width: 100%;
  height: 50px;
}

.divider_line {
  width: 100%;
  height: 1px;
  margin-top: 24.5px;
  margin-bottom: 24.5px;
  background-color: #DCDFE6;
}

/* 公共样式 - 样式 */
.nsel {
  user-select: none;
}
.nact {
  pointer-events: none;
}

/* 公共样式 - 颜色 */
