:root[theme='light']{
    --bg: #fefefe;
    --font-normal: #2c3e50;
    --logo: url('./assets/logo/huhufoxUI_transparent.png');
    --toTop-bg: #fdfdfd;
    --collapse-bg: #f3f3f3;
    --collapse-content: #fefefe;
    --collapse-border: #f1f1f1;
}
:root[theme='dark']{
    --bg: #121212;
    --font-normal: #ccc;
    --logo: url('./assets/logo/huhufoxUI_light_transparent.png');
    --toTop-bg: #434343;
    --collapse-bg: #222;
    --collapse-content: #2a2a2a;
    --collapse-border: #3a3a3a;
}